<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/search_amazon" method="POST" enctype="multipart/form-data">
	
	<!--<img src=" {{url_for('static', filename = 'temp.jpg')}}" width="500" height="600"> -->
	<!-- <img src="C:\Users\Dev\Documents\image.jpg" width="500" height="600"> -->
	<button type="submit" name="detect">Amazon</button>
</form>
<form action="/search_walmart" method="POST" enctype="multipart/form-data">
	
	<!--<img src=" {{url_for('static', filename = 'temp.jpg')}}" width="500" height="600"> -->
	<!-- <img src="C:\Users\Dev\Documents\image.jpg" width="500" height="600"> -->
	<button type="submit" name="detect">Walmart</button>
</form>
</body>
</html>